body {
    background-color: rgba(128, 128, 128, 0.151) !important;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 20px;
    border: 2px solid black;
}

label {
    font-weight: bold;
}